<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyu.mapper.SellerBillMapper">
  <resultMap id="BaseResultMap" type="com.shiyu.pojo.SellerBill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="withdrawalstime" jdbcType="TIMESTAMP" property="withdrawalstime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, money, withdrawalstime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seller_bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seller_bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shiyu.pojo.SellerBill">
    insert into seller_bill (id, money, withdrawalstime
      )
    values (#{id,jdbcType=INTEGER}, #{money,jdbcType=DOUBLE}, #{withdrawalstime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shiyu.pojo.SellerBill">
    insert into seller_bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="withdrawalstime != null">
        withdrawalstime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="withdrawalstime != null">
        #{withdrawalstime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiyu.pojo.SellerBill">
    update seller_bill
    <set>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="withdrawalstime != null">
        withdrawalstime = #{withdrawalstime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiyu.pojo.SellerBill">
    update seller_bill
    set money = #{money,jdbcType=DOUBLE},
      withdrawalstime = #{withdrawalstime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>