<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianmao.mapper.CategoryvalueMapper">
  <resultMap id="BaseResultMap" type="com.tianmao.pojo.Categoryvalue">
    <id column="categoryValueId" jdbcType="INTEGER" property="categoryvalueid" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="categoryId" jdbcType="INTEGER" property="categoryid" />
  </resultMap>
  <sql id="Base_Column_List">
    categoryValueId, productId, categoryId
  </sql>
  <!-- *********************************************************** -->
  <select id="selectByproductId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from categoryvalue
    where productId = #{productId,jdbcType=INTEGER}
  </select>
  <update id="updateByproductIdSelective" parameterType="com.tianmao.pojo.Categoryvalue">
    update categoryvalue
    <set>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null">
        categoryId = #{categoryid,jdbcType=INTEGER},
      </if>
    </set>
    where productId = #{productid,jdbcType=INTEGER}
  </update>
  <!-- *********************************************************** -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from categoryvalue
    where categoryValueId = #{categoryvalueid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from categoryvalue
    where categoryValueId = #{categoryvalueid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianmao.pojo.Categoryvalue">
    insert into categoryvalue (categoryValueId, productId, categoryId
      )
    values (#{categoryvalueid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{categoryid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianmao.pojo.Categoryvalue">
    insert into categoryvalue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryvalueid != null">
        categoryValueId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="categoryid != null">
        categoryId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryvalueid != null">
        #{categoryvalueid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null">
        #{categoryid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianmao.pojo.Categoryvalue">
    update categoryvalue
    <set>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null">
        categoryId = #{categoryid,jdbcType=INTEGER},
      </if>
    </set>
    where categoryValueId = #{categoryvalueid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianmao.pojo.Categoryvalue">
    update categoryvalue
    set productId = #{productid,jdbcType=INTEGER},
      categoryId = #{categoryid,jdbcType=INTEGER}
    where categoryValueId = #{categoryvalueid,jdbcType=INTEGER}
  </update>
</mapper>