<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianmao.mapper.EvaluateMapper">
  <resultMap id="BaseResultMap" type="com.tianmao.pojo.Evaluate">
    <id column="evaluateId" jdbcType="INTEGER" property="evaluateid" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="contention" jdbcType="VARCHAR" property="contention" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <sql id="Base_Column_List">
    evaluateId, productId, userId, contention, createDate
  </sql>
  <!-- ********************************************************* -->
  <select id="selectByproductId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from evaluate
    where productId = #{productid,jdbcType=INTEGER}
  </select>
  <!-- ********************************************************* -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from evaluate
    where evaluateId = #{evaluateid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from evaluate
    where evaluateId = #{evaluateid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianmao.pojo.Evaluate">
    insert into evaluate (evaluateId, productId, userId, 
      contention, createDate)
    values (#{evaluateid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, 
      #{contention,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tianmao.pojo.Evaluate">
    insert into evaluate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="evaluateid != null">
        evaluateId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="contention != null">
        contention,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="evaluateid != null">
        #{evaluateid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="contention != null">
        #{contention,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianmao.pojo.Evaluate">
    update evaluate
    <set>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="contention != null">
        contention = #{contention,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where evaluateId = #{evaluateid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianmao.pojo.Evaluate">
    update evaluate
    set productId = #{productid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=VARCHAR},
      contention = #{contention,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where evaluateId = #{evaluateid,jdbcType=INTEGER}
  </update>
</mapper>