<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianmao.mapper.ProductpropertyMapper">
  <resultMap id="BaseResultMap" type="com.tianmao.pojo.Productproperty">
    <id column="productPropertyId" jdbcType="INTEGER" property="productpropertyid" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    productPropertyId, productId, name, value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from productproperty
    where productPropertyId = #{productpropertyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from productproperty
    where productPropertyId = #{productpropertyid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianmao.pojo.Productproperty">
    insert into productproperty (productPropertyId, productId, name, 
      value)
    values (#{productpropertyid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tianmao.pojo.Productproperty">
    insert into productproperty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productpropertyid != null">
        productPropertyId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="value != null">
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productpropertyid != null">
        #{productpropertyid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianmao.pojo.Productproperty">
    update productproperty
    <set>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where productPropertyId = #{productpropertyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianmao.pojo.Productproperty">
    update productproperty
    set productId = #{productid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR}
    where productPropertyId = #{productpropertyid,jdbcType=INTEGER}
  </update>
</mapper>