<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianmao.mapper.ShippingaddressMapper">
  <resultMap id="BaseResultMap" type="com.tianmao.pojo.Shippingaddress">
    <id column="addressId" jdbcType="INTEGER" property="addressid" />
    <result column="userID" jdbcType="VARCHAR" property="userid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="postCode" jdbcType="VARCHAR" property="postcode" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="phoneCode" jdbcType="VARCHAR" property="phonecode" />
    <result column="isDel" jdbcType="VARCHAR" property="isdel" />
  </resultMap>
  <sql id="Base_Column_List">
    addressId, userID, address, postCode, consignee, phoneCode, isDel
  </sql>
  <!-- ************************************************** -->
  <select id="selectByuserID" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shippingaddress
    where userID = #{userid,jdbcType=VARCHAR} And isDel = '0'
  </select>
  <!-- ************************************************** -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shippingaddress
    where addressId = #{addressid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shippingaddress
    where addressId = #{addressid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianmao.pojo.Shippingaddress">
    insert into shippingaddress (addressId, userID, address, 
      postCode, consignee, phoneCode, 
      isDel)
    values (#{addressid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{postcode,jdbcType=VARCHAR}, #{consignee,jdbcType=VARCHAR}, #{phonecode,jdbcType=VARCHAR}, 
      #{isdel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tianmao.pojo.Shippingaddress">
    insert into shippingaddress
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressid != null">
        addressId,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="postcode != null">
        postCode,
      </if>
      <if test="consignee != null">
        consignee,
      </if>
      <if test="phonecode != null">
        phoneCode,
      </if>
      <if test="isdel != null">
        isDel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressid != null">
        #{addressid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null">
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="phonecode != null">
        #{phonecode,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianmao.pojo.Shippingaddress">
    update shippingaddress
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postCode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null">
        consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="phonecode != null">
        phoneCode = #{phonecode,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        isDel = #{isdel,jdbcType=VARCHAR},
      </if>
    </set>
    where addressId = #{addressid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianmao.pojo.Shippingaddress">
    update shippingaddress
    set userID = #{userid,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      postCode = #{postcode,jdbcType=VARCHAR},
      consignee = #{consignee,jdbcType=VARCHAR},
      phoneCode = #{phonecode,jdbcType=VARCHAR},
      isDel = #{isdel,jdbcType=VARCHAR}
    where addressId = #{addressid,jdbcType=INTEGER}
  </update>
</mapper>